<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SECOND APP</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <h1>Welcome to relative url templates</h1>
    <a href="{% url 'basic_app:other' %}">THe Other Page</a>
    <a href="{% url 'admin:index' %}">GO TO ADMIN</a>
    <a href="{% url 'index' %}">GO TO INDEX</a>
  </body>
</html>
